
.bg {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;      
  height: auto;     
  z-index: -1;

 
}


.img-icon {
  display: flex;
  justify-content: center; 
  padding-top: 120px;     
}

.img-icon img { 
  width: 150px;
  height: 150px;   
  border-radius: 50%; 
  object-fit: cover;  
  display: block;    
}
.sub {
  font-family: var(--subtitle);
  text-align: center;
  margin-top: 20px;
  color: var(--gray-200); 
}


.name-red {
  color: #E3646E;
  font-family: var(--subtitle);
}

.titulo1 {
  text-align: center;
  font: var(--title-sm);
  color: var(--gray-100);
  margin-top: 12px;
} 

.sub2 {
  font: var( --text-sm-pro);
  text-align: center;
  margin-top: 20px;
  color: var(--gray-200); 
}


.cards-caixa {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 140px;
  height: 38px;
  background-color: var(--gray-400);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  min-height: 32px;
  
}

.card p {
  font: var(--text-md-pro);
  color: var(--gray-200);
  margin: 0;
}

.seta {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.red2 {
  color: #E3646E;
  justify-content: center;
  display: flex;
  margin-top: 24px;
  font: var(--subtitle);
}

.titulo-veja {
  display: flex;
  font: var(--title-md);
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  color: var(--gray-100);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 330px);
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
}

.project-caixa {
  width: 330px;
  height: 280px;
  background-color: var(--gray-400);
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 48px;
}

.project-caixa img {
  width: 306px;
  height: 156px;
  border-radius: 12px;
  object-fit: cover;
  display: block;
}

.serviços {
  background-color: var(--gray-600);
  padding-top: 88px;
  padding-bottom: 56px; 
}


.services {
  margin-top: 88px;
  font: var(--subtitle);
  color: var(--vermelho);
  text-align: center;
}

.ajudar {
    font: var(--title-md);
    color: var(--gray-100);
    text-align: center;
}
