:root {
  /* cores principais */
  --vermelho: #E3646E;
  --roxo: #BB72E9;
  --azul: #3996DB;
  --verde: #82BC4F;
  --amarelo: #EABD5F;

  /* cores base */

  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;
}
