* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {

  --vermelho: #E3646E;
  --roxo: #BB72E9;
  --azul: #3996DB;
  --verde: #82BC4F;
  --amarelo: #EABD5F;

 
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;


  --font-asap: 'Asap', sans-serif;
  --font-inconsolata: 'Inconsolata', monospace;
  --font-maven: 'Maven Pro', sans-serif;

  --title-lg: 700 56px/120% var(--font-asap);
  --title-md: 700 24px/120% var(--font-asap);
  --title-sm: 700 16px/120% var(--font-asap);

  --subtitle: 400 20px/120% var(--font-inconsolata);

  --text-md-pro: 400 16px/140% var(--font-maven);
  --text-sm-pro: 400 14px/140% var(--font-maven);
}


body {
  background-color: var(--gray-500);
  color: var(--gray-100);
  font-family: var(--font-maven);
}


.intro {
  background: url("../assets/Background_Intro.png") no-repeat center top;
  background-size: cover;
  padding-bottom: 64px;
}

.sub {
  text-align: center;
  margin-top: 20px;
  font: var(--subtitle);
  color: var(--gray-200);
}

.name-red {
  color: var(--vermelho);
}

.titulo1 {
  text-align: center;
  margin-top: 12px;
  font: var(--title-lg);
}

.sub2 {
  text-align: center;
  margin-top: 20px;
  font: var(--text-sm-pro);
  color: var(--gray-200);
  max-width: 600px;
  margin-inline: auto;
}


.projects-title {
  padding-top: 64px; 
  padding-bottom: 32px; 
  text-align: center;
}

.projects-section {
  background-color: var(--gray-500);
  padding-bottom: 96px;
}

.contact {
  background: url(../assets/Background_Contacts.png) no-repeat center top;
  background-size: cover;
  padding-bottom: 64px;
}