* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




:root {
  /* cores principais */
  --vermelho: #E3646E;
  --roxo: #BB72E9;
  --azul: #3996DB;
  --verde: #82BC4F;
  --amarelo: #EABD5F;

  /* cores base */

  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --font-asap: 'Asap';
  --font-Inconsolata: 'Inconsolata';
  --font-Maven-Pro: 'Maven Pro';

  --title-lg: 700 56px/120% var(--font-asap);
  --title-md: 700 24px/120% var(--font-asap);
  --title-lg: 700 16px/120% var(--font-asap);

  --subtitle: 400 20px/120% var(--font-Inconsolata);

  --text-md: 400 16px/140% var(--font-Maven-Pro);
  --text-sm: 400 14px/140% var(--font-Maven-Pro);
}

body {
  
}